
   
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# ignore ALL .log files
* .log

#ignore all .lock files
* .lock

#ignore all package.json files
package.json
